#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    left: 2em;
    float: left;
}

#nav-bar .header {
    margin-left: 10px;
    line-height: 80px;
    font-size: 2em;
    left: 2em;
    float: left;
}