#nav-bar {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    min-width: 500px;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    z-index: 2;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#nav-bar .logo {
    margin: 10px;
    height: 60px;
    width: 115px;
    left: 2em;
    float: left;
}

#nav-bar .header {
    margin-left: 10px;
    line-height: 80px;
    font-size: 2em;
    left: 2em;
    float: left;
}
#nav-bar .compose:hover {
    color: black;
}

#nav-bar .compose {
    float: right;
    border: 1px solid black;
    border-radius: 6px;
    background-color: white;
    margin-top: 10px;
    width: 140px;
    height: 60px;
    font-size: 1.25em;
    color: #00a087;
}