#tweets-container article.tweets {
    border: 1px lightgray;
    border-style: solid;
    border-radius: 6px;
    margin: 2em;
    overflow: auto;
    opacity: 0.5;
}

#tweets-container article.tweets:hover {
    opacity: 1;
}

#tweets-container header {
    border-bottom: 1px solid lightgray;
    background-color: #eee;
    height: 60px;
}

#tweets-container img {
    height: 40px;
    width: 40px;
    margin: 10px 0 0 10px;
    float: left;
}

#tweets-container h2 {
    line-height: 40px;
    padding: 0 0 0 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

#tweets-container .handle{
    float: right;
    padding: 10px 10px;
    font-size: .75em;
}

#tweets-container p {
    border-bottom: 1px solid lightgray;
    background-color: white;
    height: 80px;
    margin: 0;
    padding: 10px 10px;
}
#tweets-container footer {
    background-color: white;
    height: 40px;
}

#tweets-container .time {
     line-height: 40px;
     font-size: .75em;
     padding: 0 0 0 10px;
     float: left;
 }

#tweets-container i {
    padding: 10px 10px 0 0;
    float: right;
}